/*!
 * Roots 6.5.0
 */

@font-face {
	font-family: 'BariolRegular';
	src: url('../fonts/Bariol_Regular.eot');
	src: local('Bariol_Regular'), 
               url('../fonts/Bariol_Regular.woff') format('woff'), 
               url('../fonts/Bariol_Regular.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_25647">Text with this font applied</p> */
.fontsforweb_fontid_25647 {
	font-family: 'BariolRegular' !important;
}

/* Font downloaded from FontsForWeb.com */

@import "bootstrap/bootstrap.less";

/* ==========================================================================
   Base
   ========================================================================== */

body { 
  background-color: @blue-light;
}

/* ==========================================================================
   Navbar
   ========================================================================== */


.aligned.navbar .nav,
.aligned.navbar .nav > li {
  float:none;
  display:inline-block;
  *display:inline; /* ie7 fix */
  *zoom:1; /* hasLayout ie7 trigger */
  vertical-align: top;
}

.aligned .navbar-inner {
  text-align:right;
}

.aligned .dropdown-menu {
  text-align: left;
}




/* ==========================================================================
   Header
   ========================================================================== */

.banner {
  font-size: 32px;
  margin-bottom: 0;
}



/* ==========================================================================
   Content
   ========================================================================== */

.content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }


/* ==========================================================================
   Sections
   ========================================================================== */

#mybrand{
/*  background-image: url(../img/beard.svg);*/
  /*background-repeat: no-repeat;*/
  /*background-position-x: 20%;*/
  /*padding-top: 170px;*/

  h1{
    font-size: 80px;
    text-transform: lowercase;
    margin-bottom: 0;
  }

  h2{
    font-size: 60px;
    color: @blue-dark;
    text-transform: lowercase;
    margin-top: 0;
  }

  h2:after{
    display: inline-block;
    width: .45em;
    height: 0.7em;
    background: #0FA0DB;
    content: ' ';
    margin-left: 0.17em;  
    animation: blink 1.5s step-start 0s infinite;
    -webkit-animation: blink 1.5s step-start 0s infinite;  
    -moz-animation: blink 1.5s step-start 0s infinite;  
  }
}

@keyframes blink {  
  0% { background: #0FA0DB; }
  50% { background: #C9E6F1; }
  100% { background: #0FA0DB; }
}
@-webkit-keyframes blink {
  0% { background: #0FA0DB; }
  50% { background: #C9E6F1; }
  100% { background: #0FA0DB; }
}




#home-blurb{
  padding-bottom: 40px;
}

#link-bar{
  text-align: center;
  margin-top: 20px;

  .link-icon{
    display: inline-block;
    margin-top: 20px;

    img{
      width: 75px;
    }
  }
}

.menus{
  margin-top: 20px;
  border-top: 2px dashed #67BFE2;
  padding-top: 25px;

  nav{
    ul{
      padding-left: 10px;
      li{
        display: block;
      }
    }
  }

}

#contact{

}

#beard{

}



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: @screen-sm) { }

@media (min-width: @screen-md) { }

@media (min-width: @screen-lg) { }


#wpadminbar { display: none; }
html { margin-top: 0 !important};
