/*!
 * Roots 6.5.0
 */

@import "bootstrap/bootstrap.less";

/* ==========================================================================
   Base
   ========================================================================== */

body { 

}

/* ==========================================================================
   Navbar
   ========================================================================== */


.center.navbar .nav,
.center.navbar .nav > li {
  float:none;
  display:inline-block;
  *display:inline; /* ie7 fix */
  *zoom:1; /* hasLayout ie7 trigger */
  vertical-align: top;
}

.center .navbar-inner {
  text-align:center;
}

.center .dropdown-menu {
  text-align: left;
}




/* ==========================================================================
   Header
   ========================================================================== */

.banner {
  font-size: 32px;
  margin-bottom: 0;
}



/* ==========================================================================
   Content
   ========================================================================== */

.content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sections
   ========================================================================== */

#mybrand{
  background-color: @blue-light;

  h1{
    font-size: 80px;
  }

  h2{
    font-size: 60px;
    color: @blue-dark;
  }
}

#home-blurb{
  background-color: @blue-light;
}

#link-bar{
  background-color: #fff;
}

#websites{
  background-color: @yellow-light;
}

#projects{
  background-color: @green-light;
}

#contact{

}



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: @screen-sm) { }

@media (min-width: @screen-md) { }

@media (min-width: @screen-lg) { }
